{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>match-info</title>
        <meta name="description" content="ログイン">
        <link rel="stylesheet" href="https://unpkg.com/ress/distress.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
   
    <body>
      <div class="login-bg">
          <!--ロゴの設置-->
            <a href="main-page.html">
              <img class="logo1" src="{% static 'images/kobusi.png' %}" alt="ロゴ">
            </a>

            {% if form.errors %} 
            <p>ユーザーIDまたはパスワードが一致しません</p>
            {% endif %}
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <label>ユーザーID</label>
                {{ form.username }}
                {{ form.username.errors }}
                <label>パスワード</label>
                {{ form.password }}
                {{ form.password.errors }}
                <button type="submit">ログイン</button>
            </form>
        </div>
    </body>
</html>