{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>予想ページ</title>
  <meta name="description" content="格闘技予想メインページ">
{% endblock %}

{% block content %}
  {% if form.error %}
  <p>数値が正しくありません</p>
  {% endif %}
  <p>Player1: {{ match.player1 }} vs. Player2: {{ match.player2 }}</p>
  <form method="POST" action="{% url 'predict:predict' match_pk=match.pk %}">
    {% csrf_token %}
    <label>勝者</label>
    {{ form.winner }}
    {{ form.winner.errors }}
    <label>勝率</label>
    {{ form.prob }}%
    {{ form.prob.errors }}
    <button type="submit">確定して投稿する</button>
  </form>
{% endblock %}