@charset "UTF-8";
/*トップページのCSS作成*/
/*要素をリセット*/
* { margin: 0; padding: 0; box-sizing: border-box; }

/*背景画像を設定*/
.bg{
  width: 100vw;
  background-image:url(../images/top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 800px;

  }

  /*コンテンツのレイアウト*/
  .content{
    background: rgba(0, 0, 0, 0.83);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 55%;
    margin-right:5%;
  }
/*コンテンツの設定*/
.大見出し{
  text-align: center;
  font:bold Arial;
  font-size: 5rem;
  color: #F9F9F9;
  margin-top: 180px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom:20px;
}
.button{
  font: normal  Source Han Sans JP;
  font-size: 1.5rem;
  color: #FFFFFF;
  background:rgba(247, 82, 82, 1);
  border-radius: 8px;
  padding: 8px 21px;
  margin-bottom: 180px;
}
.button:hover{
  background:rgba(189, 63, 63, 1)
}
/*リンクの下線消去*/
a {
    text-decoration:none;
}
